
<mat-drawer-container autosize>
  <mat-drawer class="content-cart" mode="side" position="end" opened="true">
    <div class="cart-grid">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>My List</span>
          <span class="example-spacer"></span>
          <button mat-icon-button (click)="onToggleCart()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="list">
        <div class="item-product" *ngFor="let cart of (myCart$ | async)">
          <ng-container *ngIf="cart.idBook | findProduct: books as book">
            <figure class="image-container">
              <img [src]="book.image" alt="libro">
            </figure>
            <div class="book-data">
              <p>{{ book.name }}</p>
              <p>S/ {{ book.currentPrice }}</p>
              <p>{{ book.stock }}</p>
              <div class="control">
                <button mat-icon-button
                  type="button"
                  (click)="addOne(cart.idBook)"
                  [disabled]="book.stock === cart.cantidad">
                  <mat-icon>add</mat-icon>
                </button>
                <span>{{ cart.cantidad }}</span>
                <button mat-icon-button
                  type="button"
                  (click)="removeOne(cart.idBook)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="cart-result">
        <p>S/ {{ getTotal((myCart$ | async)!) }}</p>
        <button
          type="button"
          mat-raised-button
          color="primary"
          [disabled]="(myCart$ | async)!.length === 0">
          Ir a pagar
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="wrapper">
    <app-header (toggleCart)="onToggleCart()"></app-header>
    <app-product-list></app-product-list>
  </div>

</mat-drawer-container>