<mat-drawer-container autosize hasBackdrop="false">
  <mat-drawer class="content-cart" mode="over" position="end" opened="false">
    <div class="cart-grid">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Carrito</span>
          <button mat-icon-button (click)="onToggleCart()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="list">
        <div class="item-product" *ngFor="let cart of (myCart$ | async)">
          <ng-container *ngIf="cart.idBook | findProduct: (booksOriginal$ | async)! as book">
            <app-cart-item
              [book]="book"
              [cart]="cart"
              >
            </app-cart-item>
          </ng-container>
        </div>
      </div>

      <div class="cart-result">
        <div class="total">
          <span>Total:</span>
          <span>S/ {{ getTotal((myCart$ | async)!) }}</span>
        </div>
        
        <a
          routerLink="/checkout"
          mat-raised-button
          color="primary"
          [disabled]="(myCart$ | async)!.length === 0">
          Ir a pagar
        </a>
      </div>
    </div>
  </mat-drawer>

  <div class="wrapper">
    <app-header (toggleCart)="onToggleCart()"></app-header>
    <app-scanner-qr></app-scanner-qr>
    <app-seacher></app-seacher>
    <div class="content">
      <app-product-list [books]="(books$ | async)!"></app-product-list>
    </div>
  </div>

</mat-drawer-container>