.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;

  .mat-mdc-card-header {
    margin-bottom: 1rem;

    .mat-mdc-card-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      line-height: 1.5rem;
      height: 48px;
    }
  }

  .image-container {
    height: 200px;
    margin: 0;
    display: flex;
    justify-content: center;

    img {
      width: auto;
      height: 100%;
    }
  }

  .price {
    margin-top: .8rem;
  }

  .actions {
    align-self: flex-end;
  }
}